<div class="text-center">
    <main class="form-signin">
        <form [formGroup]="updateForm">
       
         
          <div class="form-floating">
            <input formControlName="phoneNumber"  type="number" class="form-control" id="floatingPassword" placeholder="phone number">
            <label for="floatingPassword">Phone Number</label>
          </div>
        
          <button (click)="update()" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          
        </form>
      </main>
    </div>