<!-- <div class="card mb-3" style="width: min-content;">
    <img style="width:200px; height: 200px;" src="https://th.bing.com/th/id/OIP.DgVNhFcvWWSCxJpVWsry4wHaHV?pid=ImgDet&rs=1" 
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">LinkedIn</h5>
      <p class="card-text">LinkedIn Bilgilerinizi Girerek CV'nizi güçlendirin</p>
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
        LinkedIn Account 
      </button>
    </div> -->



<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <form [formGroup]="linkedForm">
            
            <div class="mb-3">
                <label>LinkedIn Account</label>
                <input type="text   " placeholder="linkedInAccount" formControlName="linkedInAccount" class="form-control"  />
            </div>
           
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button type="button" (click)="add()" class="btn btn-primary">Kaydet</button>
        </div>
      </div>
    </div>
  </div> -->

 <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://th.bing.com/th/id/OIP.DgVNhFcvWWSCxJpVWsry4wHaHV?pid=ImgDet&rs=1" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <form [formGroup]="linkedForm">
            
            <div class="mb-3">
                <label>LinkedIn Account</label>
                <input type="text   " placeholder="linkedInAccount" formControlName="linkedInAccount" class="form-control"  />
            </div>
           
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button type="button" (click)="add()" class="btn btn-primary">Kaydet</button>
        </div>
        </div>
      </div>
    </div>
          <!-- <td>{{cv.linkedinAccount}}</td> -->

