<div class="row">
  <div class="col-md-3">
    <app-side-menu></app-side-menu>
  </div>
  <div class="col-md-9">
    <div class="container">
      <div class="text-center">
        <main class="form">
          <form [formGroup]="updateWebsiteAndEmailForm">

            <div class="form-floating">
              <input formControlName="website" type="text" class="form-control" placeholder="website">
              <label for="floatingPassword">website</label>
            </div>
            <div class="form-floating">
              <input formControlName="email" type="text" class="form-control" placeholder="email">
              <label for="floatingPassword">email</label>
            </div>
            <div class="form-floating">
              <input formControlName="id" type="number" class="form-control" placeholder="id">
              <label for="floatingPassword">{{updateWebsiteAndEmailForm.value.id}}</label>
            </div>



            <button (click)="update()" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

          </form>
        </main>
      </div>
    </div>
  </div>
</div>