<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Başlık Düzenle</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form class="row g-3" [formGroup]="updateTitleForm">
            <div class="col-12">
                <label for="title" class="form-label" >Başlık</label>
                <input id="title" type="text" class="form-control" placeholder="özgeçmiş başlığı" formControlName="title"/>
            </div>
            
            <div class="col-12">
                <button class="btn btn-primary" [disabled]="!updateTitleForm.valid" type="submit" (click)="updateTitle()">Düzenle</button>
            </div>
        </form>
    </div>
  </div>