
<!-- <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-5 fw-bold lh-1">Hayalinizdeki çalışma hayatına sv.kariyer ile ulaşın.</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec elit gravida, ultrices
            arcu vel, tristique leo. Sed sed malesuada justo. Nullam non orci id leo ultrices bibendum nec tristique
            metus. Maecenas convallis varius metus eu ullamcorper.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button type="button" routerLink="candidate/signup"
                class="btn btn-primary btn-lg px-4 me-md-2 fw-bold mt-1">Üye Ol</button>
            <button type="button" routerLink="login" class="btn btn-outline-primary btn-lg px-4 mt-1 fw-bold">Üye
                Girişi</button>
        </div>
    </div>
    <div class="col-lg-5 p-0 overflow-hidden">
        <img src="https://cdn.discordapp.com/attachments/877543077936513095/892010312969117746/qtq80-1CkbOG.jpeg" alt="" width="500" height="500">
    </div>
</div> -->

     <div class="card bg-dark text-white " >
    <img src="https://cdn.discordapp.com/attachments/877543077936513095/892010312969117746/qtq80-1CkbOG.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title" style="margin-top: 350px;">Hayalinizdeki İşe Kavuşun</h5>
      <p class="card-text">Yüzlerce iş ilanının arasından sana uygun olanını bul ve kariyer basamaklarını tırmanmaya başla</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-outline-light" routerLink="/candidateAdd" >Üye Ol</button>
        <button type="button" class="btn btn-outline-light" routerLink="/login" >Giriş Yap</button>
    </div>
  </div>

  
  
