
    <!-- <div class="card mb-3" style="width: min-content;">
        <img style="width: 400px; height: 150px;" src="https://th.bing.com/th/id/R.b8c89475b54a27003116fe7d7aa73f58?rik=auKVlf%2fW1QitKg&pid=ImgRaw&r=0" 
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Github</h5>
          <p class="card-text">Github Bilgilerinizi Girerek CV'nizi güçlendirin</p>
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modal5">
            Github Account 
          </button>
        </div> -->
    
    
    
    <!-- Modal -->
    <!-- <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <form [formGroup]="githubForm">
                
                <div class="mb-3">
                    <label>Github Account</label>
                    <input type="text   " placeholder="githubAccount" formControlName="githubAccount" class="form-control"  />
                </div>
               
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
              <button type="button" (click)="add()" class="btn btn-primary">Kaydet</button>
            </div>
          </div>
        </div>
      </div> -->


      
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://th.bing.com/th/id/R.b8c89475b54a27003116fe7d7aa73f58?rik=auKVlf%2fW1QitKg&pid=ImgRaw&r=0" 
         class="img-fluid rounded-start" style="margin-top: 35px;" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <form [formGroup]="githubForm">
                
            <div class="mb-3">
                <label>Github Account</label>
                <input type="text   " placeholder="githubAccount" formControlName="githubAccount" class="form-control"  />
            </div>
           
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button type="button" (click)="add()" class="btn btn-primary">Kaydet</button>
        </div>
        </div>
      </div>
    </div>
 
