<div class="row">
  <div class="col-md-3">
      <app-side-menu></app-side-menu>

  </div>
<div class="col-md-9">
<div class="container">
    <p-table *ngIf="loading == false; else loadingInfo" id="myTable" #dt [value]="jobPositions" dataKey="id"
      styleClass="p-datatable-striped" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
      sortField="createdAt" [sortOrder]="-1" [globalFilterFields]="[
          'employer.companyName', 
          'position.title',
          'openPositions',
          'createdAt',
          'deadline',
       
        ]">
      <ng-template pTemplate="caption">
        <div class="table-header">
          <h4 style="text-align: center;">List of Available Positions</h4>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            <div class="d-flex justify-content-between align-items-center">
              Id
              <p-sortIcon field="id"></p-sortIcon>
             
            </div>
          </th>
          <th pSortableColumn="title">
            <div class="d-flex justify-content-between align-items-center">
              Positions
              <p-sortIcon field="title"></p-sortIcon>
              <p-columnFilter type="text" field="title" display="menu" class="ms-auto"></p-columnFilter>
              
            </div>
         
  
          
        
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-position>
        <!--"letjob" == "*ngFor="let candidate of candidates""-->
        <tr class="p-selectable-row">
          <td>
            <span class="p-column-title">Company Name</span>
            {{ position.id }}
          </td>
  
          <td>
            <span class="p-column-title">Location</span>
            {{position.title }}
          </td>
 
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No position found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template #loadingInfo>
    <div class="text-center d-flex flex-column align-items-center justify-content-center" style="height: 500px">
  
      <h6 class="mt-2">Loading...</h6>
    </div>
  </ng-template>
  
</div>  